@import '../variables.scss';

.footer {
	height: 200px;
	background-color: $footer-color;
	position: relative;

	.icons {
		display: flex;
		position: absolute;
		left: 50%;
		top: 40%;
		transform: translate(-50%, -50%);
		width: 250px;
		font-size: 2.5rem;
		justify-content: space-around;

		.icon {
			color: $white;
		}
	}

	span {
		color: $primary-green;
		font-size: 1rem;
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 20px;
	}
}
