.header {
  height: 100vh;
  background-color: #5444c1;
  position: relative;
}
.header nav {
  height: 100px;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  background: linear-gradient(180deg, #5444c1 85%, hsla(0deg, 0%, 100%, 0));
}
.header nav img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 106px;
}
.header nav hr {
  position: absolute;
  transform: rotate(90deg);
  top: 40px;
  background-color: #ccf381;
  width: 47px;
  left: 120px;
  border-color: #ccf381;
}
.header nav span,
.header nav a {
  color: #ccf381;
  font-weight: bold;
  position: absolute;
  font-size: 0.75rem;
}
.header nav .spanMenu {
  left: 165px;
  top: 42px;
  overflow: hidden;
  width: 65px;
  height: 15px;
}
.header nav .spanMenu .spanLink {
  display: inline-block;
  transform: translateY(-20px);
  height: 15px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.3);
  cursor: pointer;
}
.header nav .spanMenu .menuSpan {
  padding: 20px 0;
}
.header nav .spanMenu:hover * {
  letter-spacing: 6px;
}
.header nav a {
  right: 35px;
  top: 42px;
  transition: letter-spacing 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.3);
}
.header nav a:hover {
  letter-spacing: 1px;
}
.header nav .icon {
  display: none;
}
.header .navMenu {
  background: none;
  background-color: #ffffff;
  transition: all 0.25s ease-in-out;
}
.header .navMenu hr {
  background-color: #5444c1;
  border-color: #5444c1;
}
.header .navMenu span,
.header .navMenu a {
  color: #5444c1;
}
.header .navMenu .spanMenu .spanLink {
  transform: none;
}
.header .bust {
  transform: scale(0.8);
  position: relative;
  z-index: 2;
}
.header .bust .head {
  width: 301px;
  height: 436px;
  position: relative;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}
.header .bust .head div {
  position: absolute;
}
.header .bust .head .hair {
  width: 218px;
  height: 90px;
  background-color: #ccf381;
  border-radius: 100px 70px 30px 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}
.header .bust .head .face {
  width: 197px;
  height: 215px;
  background-color: #ffffff;
  border: 5px solid #ccf381;
  position: relative;
  border-radius: 5px 0 100px 100px;
  left: calc(50% - 5.5px);
  transform: translate(-50%, 0);
  top: 80px;
  z-index: 3;
}
.header .bust .head .face .eyebrows {
  width: 59px;
  height: 16px;
  background-color: #ccf381;
  top: 37px;
}
.header .bust .head .face .eyebrows.left {
  left: 20px;
  border-radius: 100px 100px 0 100px;
}
.header .bust .head .face .eyebrows.right {
  right: 22px;
  border-radius: 100px 100px 100px 0;
}
.header .bust .head .face .eyes {
  background-color: #ffffff;
  width: 40px;
  height: 25px;
  border-radius: 50%;
  top: 65px;
}
.header .bust .head .face .eyes .ball {
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 6px solid #ccf381;
  box-sizing: border-box;
}
.header .bust .head .face .eyes.left {
  left: 30px;
}
.header .bust .head .face .eyes.right {
  right: 30px;
}
.header .bust .head .face .lowerEyelid {
  width: 16px;
  height: 5px;
  background-color: #ccf381;
  top: 96.5px;
}
.header .bust .head .face .lowerEyelid.left {
  left: 40.5px;
}
.header .bust .head .face .lowerEyelid.right {
  right: 44.5px;
}
.header .bust .head .face .nose {
  width: 44px;
  height: 70px;
  border-radius: 0 0 100px 100px;
  background-color: #ffffff;
  border: solid 5px #ccf381;
  border-top: none;
  border-right: none;
  left: 50%;
  transform: translate(-50%, 0);
  top: 53px;
}
.header .bust .head .face .mouth {
  width: 73px;
  height: 15px;
  border-radius: 0 0 100px 5px;
  background-color: #ffffff;
  border: 5px solid #ccf381;
  border-top: none;
  border-left: none;
  left: 50%;
  transform: translate(-50%, 0);
  top: 140px;
}
.header .bust .head .ears {
  width: 23px;
  height: 73px;
  border-radius: 100px 0 0 100px;
  background-color: #ffffff;
  border: 5px solid #ccf381;
  position: relative;
  z-index: 2;
}
.header .bust .head .ears .line {
  width: 5px;
  height: 27px;
  background-color: #ccf381;
  transform: rotate(-20deg);
  top: 29.3px;
  left: 9.9px;
}
.header .bust .head .ears.left {
  left: 13px;
  top: -90px;
}
.header .bust .head .ears.right {
  transform: rotate(180deg);
  top: -170px;
  left: 244px;
}
.header .bust .head .ears.right .line {
  top: 18.3px;
  transform: rotate(200deg);
}
.header .bust .head .neck {
  width: 107px;
  height: 80px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 5px solid #ccf381;
  top: 295px;
  border-top: none;
  z-index: 1;
}
.header .bust .head .neck.left {
  left: 70px;
  transform: rotate(30deg);
  border-right: none;
}
.header .bust .head .neck.right {
  right: 70px;
  transform: rotate(-30deg);
  border-left: none;
}
.header .bust .head .body {
  width: 301px;
  height: 107px;
  border-radius: 44px 44px 0 0;
  border: 5px solid #ccf381;
  border-bottom: none;
  background-color: #ffffff;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.header .bust .face.shadow {
  display: none;
}
.header .background {
  position: absolute;
  width: 100vw;
  top: 140px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  opacity: 0.5;
}
.header .name {
  font-size: 2.625rem;
  color: #ccf381;
  display: block;
  margin: 60px 20px 0;
  text-align: center;
}
.header .name strong {
  display: inline-block;
}
.header .name .description {
  display: none;
}
.header span.scroll {
  color: #ccf381;
  font-size: 0.75rem;
  letter-spacing: 2.4px;
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 100px;
  text-align: center;
}
.header span.scroll::before {
  content: "SCROLL";
  -webkit-animation: scroll infinite 15s;
          animation: scroll infinite 15s;
}
@-webkit-keyframes scroll {
  0% {
    content: "SCROLL";
  }
  20% {
    filter: blur(1px);
    opacity: 0;
  }
  50% {
    content: "DOWN";
    filter: blur(0px);
    opacity: 1;
  }
  70% {
    filter: blur(1px);
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    content: "SCROLL";
  }
  20% {
    filter: blur(1px);
    opacity: 0;
  }
  50% {
    content: "DOWN";
    filter: blur(0px);
    opacity: 1;
  }
  70% {
    filter: blur(1px);
    opacity: 0;
  }
}
.header div.scroll {
  width: 1px;
  height: 45vh;
  background-color: #a398e9;
  position: absolute;
  top: 655px;
  left: 50%;
}
.header .menuDesktop {
  display: none;
}/*# sourceMappingURL=header.css.map */