body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Bitter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	min-height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
	text-decoration: none;
}

.noScroll {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.none {
	opacity: 0 !important;
}

.loadingScreen {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.start {
	background-color: transparent;
	/* box-shadow: inset 0px -20px 50px 10px #00ffff80, 0px 0px 30px 6px #00ffff70; */
	transform-style: preserve-3d;
	border: none;
	padding: 0;
	text-shadow: -5px 5px #00ffff80, 5px 5px #00ffff80, -5px -5px #00ffff80, 5px -5px #00ffff80;
	font-size: 64px;
	font-family: 'ROBOT'; /* do zmiany*/
	cursor: pointer;
	color: #000;
}

.start:hover {
	text-shadow: -5px 5px #3588ff, 5px 5px #3588ff, -5px -5px #3588ff, 5px -5px #3588ff;
}

.none3D {
	display: none;
}
